@model WebApplication1.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}


<h1>Bienvenue @ViewBag.USERID (Connected UserID)</h1>

@{
    var USER = ViewData["USER"] as WebApplication1.Models.AspNetUser;
}


<div>


    @ViewBag.LASTNAME
</div>


<div>
    <h4>Panier d'achat </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>

    @* COMMENTCOMENTE
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>


        TEST : @USER.Email

            |*@
    <a asp-action="Index">Back to List</a>
</div>


