@*   comment  *@
@model WebApplication1.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}



@{
    @*   variable  *@
    var USER = ViewData["USER"] as WebApplication1.Models.AspNetUser;



    @*   titre  *@
    <h1>Bienvenue @USER.Username </h1>

    @USER.Email;

    @*  information sur le propriétaire du panier (utilisateur connecté)  *@
    <div>

        <h4>Panier d'achat </h4>
        <hr />
        <dl class="row">


            @*   Date de création du panier  *@
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>


            @*   ASPNET Utilisateur -  Phone *@
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @if (@Model.User.PhoneNumber != null)
                {<text>@Model.User.PhoneNumber</text>}
                else{<text>Inconnu</text>}
            </dd>


            @*   Client Bookshop -  NOm et prénom *@
            <dt class="col-sm-4">
                Email
            </dt>
            <dd class="col-sm-8">
                @if (@USER.Email != null)
                {<text>@USER.Email</text>}
                else{<text>Inconnu</text>}
            </dd>


            @*   Client Bookshop -  NOm et prénom *@
            <dt class="col-sm-4">
                Nom
            </dt>
            <dd class="col-sm-8">
                @if (@USER.IdCustomerNavigation.Lastname != null)
                {<text>@USER.IdCustomerNavigation.Firstname @USER.IdCustomerNavigation.Lastname</text>}
                else{<text>Indisponible</text>}
            </dd>


            @*   Client Bookshop -  Adresse *@
            <dt class="col-sm-4">
                Adresse
            </dt>
            <dd class="col-sm-8">
                @if (@USER.IdCustomerNavigation.Address != null)
                {<text>@USER.IdCustomerNavigation.Address , @USER.IdCustomerNavigation.Zip @USER.IdCustomerNavigation.City </text>}
                else {<text>Indisponible</text>}
            </dd>


            @*   Client Bookshop -  Adresse de facturation*@
            <dt class="col-sm-4">
                Adresse de facturation
            </dt>
            <dd class="col-sm-8">
                @if (@USER.IdCustomerNavigation.BillingAddress != null)
                {<text>@USER.IdCustomerNavigation.BillingAddress </text>}
                else{<text>Indisponible</text>}
            </dd>

        </dl>
    </div>





    <div>

        <br />
        <hr />
        @Html.ActionLink("Retour à accueil", "Index", "Home")<br />
        @Html.ActionLink("Contenu du panier", "Index", new { Controller = "Lineitems", action = "Index", id = Model.Id })<br />
        <br />
        <hr />





    </div>




}
@*   COMMENTCOMENTE
    To user the variable :
    var USER = ViewData["USER"] as WebApplication1.Models.AspNetUser;
*@
