@model AppWebClient.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<h3>Voulez-vous vraimment supprimer cet article?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.DatePublication != null)
            {
                @Convert.ToDateTime(@Model.DatePublication).ToString("dd.MM.yyyy")
            }
            else
            {<text>/</text>}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Summary != null)
            {
                @Model.Summary
            }
            else
            {<text>/</text>}
        </dd>

    </dl>

    <form asp-action="ConfirmeDelete">

        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index">Retour à la liste</a>
    </form>

</div>
