<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


@{
    ViewBag.Title = "Home Page";
}


@*
    VUE DU CONCTROLEUR "HOME"
    MODE PAIEMENT - STRIPE
*@

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/1.jpg" alt="unknown" style="width:100%;">
        </div>

        <div class="item">
            <img src="~/images/2.png" alt="unknown" style="width:100%;">
        </div>

        <div class="item">
            <img src="~/images/3.jpg" alt="unknown" style="width:100%;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1>Bienvenue sur ESBookshop</h1>
<br />

<div>
    @*@Html.ActionLink("Connexion", "Index", "Connexion")<br />*@
    @Html.ActionLink("Mon profil", "Index", "UserProfile")<br />
    @Html.ActionLink("Ma wishlist", "Index", "Wishlists")<br />
    <br />
    <hr />
    @Html.ActionLink("Liste des ouvrages", "Index", "Books")<br />
    @Html.ActionLink("Rechercher un livre", "Search", "Books")<br />
    @Html.ActionLink("Liste des utilisateurs", "Index", "AspNetUsers")<br />
    <br />
    <hr />
    @Html.ActionLink("Tableau de bord (+Role Admin)", "VerifyUserRole", "Dashboard")<br />
    <br />
    <hr />
    @Html.ActionLink("Panier d'achat (Utilisateur)", "Index", "UserShoppingCarts")<br />
    @Html.ActionLink("Liste des paniers d'achat (Administration) ", "Index", "AdminShoppingCarts")<br />
    <br />
    <hr />
    @Html.ActionLink("A propos de nous", "About", "Home")<br />
    @Html.ActionLink("Contact", "Contact", "Home")<br />
    @Html.ActionLink("Aide Stripe (service de paiement)", "About", "StripePay")<br />
    <br />
    <hr />
</div>

