<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


@{
    ViewBag.Title = "Home Page";
}


@*
    VUE DU CONCTROLEUR "HOME"
    MODE PAIEMENT - STRIPE
*@


<br />
<br />

<h1>Bienvenue sur ESBookshop</h1>
<br />
<div>
    @*@Html.ActionLink("Connexion", "Index", "Connexion")<br />*@
    @Html.ActionLink("Mon profil", "Index", "UserProfile")<br />
    @Html.ActionLink("Ma wishlist", "Index", "Wishlists")<br />
    <br />
    <hr />
    @Html.ActionLink("Liste des ouvrages", "Index", "Books")<br />
    @Html.ActionLink("Rechercher un livre", "Search", "Books")<br />
    @Html.ActionLink("Liste des utilisateurs", "Index", "AspNetUsers")<br />
    <br />
    <hr />
    @Html.ActionLink("Gestion de ES-Bookshop (+Role Admin)", "VerifyRole", "AdminBooks")<br />
    <br />
    <hr />
    @Html.ActionLink("Panier d'achat (Utilisateur)", "Index", "UserShoppingCarts")<br />
    @Html.ActionLink("Aide Stripe (service de paiement)", "About", "StripePay")<br />
    <br />
    <hr />
    @Html.ActionLink("A propos de nous", "About", "Home")<br />
    @Html.ActionLink("Contact", "Contact", "Home")<br />

    <br />
    <hr />
</div>

