@{
    ViewData["Title"] = "Index";
}

<h1>Tableau de bord</h1>
<br />

<div>
    @* Liens de Navitation

        <a asp-action="Edit" asp-route-id="@Model.Id"> TextAffiche </a> |
        <a asp-controller="Dashboard" asp-action="Index"> TextAffiche </a>
        <a asp-controller="Home" asp-action="Index"> TextAffiche </a>
    *@
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>
<br />
<div>
    <h4>Indicateurs KPI pour gérer ESBookshop</h4>
    <hr />
    <dl class="row">

        @* Nom de l'action*@
        <dt class="col-sm-8">
            KPI
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            Lien/ URL
        </dd>


        @* Nom de l'action*@
        <dt class="col-sm-8">
            Appréciations des clients (en années)
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            @Html.ActionLink("Graphe des appréciations", "ChartAppreciations", "Dashboard")
        </dd>


        @* Nom de l'action*@
        <dt class="col-sm-8">
            Top 10 des villes
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            @Html.ActionLink("Liste des meilleures villes", "BestCities", "Dashboard")
        </dd>


        @* Nom de l'action*@
        <dt class="col-sm-8">
            Top 10 des  clients (acheteurs)
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            @Html.ActionLink("Liste des meilleurs clients", "BestCustomers", "Dashboard")
        </dd>


        @* Nom de l'action*@
        <dt class="col-sm-8">
            Evolution des commandes (en années)
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            @Html.ActionLink("Graphe des commandes", "ChartOrders", "Dashboard")
        </dd>



    </dl>
</div>

