@model IEnumerable<LibraryDbContext.Models.Appreciation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>En construction</h1>
<!--

@*
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrderNavigation.OrderedDate)
            </th>
            <th>
               Utilisateur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrderNavigation.OrderedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrderNavigation.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
-->
