@model IEnumerable<AppWebClient.Models.AuthorBooks>

<h1>Liste des livres de l'auteur</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditorName)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.EditorUrl)">@Html.DisplayFor(modelItem => item.EditorUrl)</a>
                    </td>
                    <td>
                        <a href="mailto:@Html.DisplayFor(modelItem => item.EditorEmail)">@Html.DisplayFor(modelItem => item.EditorEmail)</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Books" asp-route-id="@item.BookId">Détail du livre</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    Aucun livre
                </td>
            </tr>
        }

    </tbody>
</table>