@model IEnumerable<ESBClientMVC.Models.LINEITEM>

@{
    ViewBag.Title = "GetCartItems";
}

<h2>
    GetCartItems - Contenu du panier @ViewBag.PANIER
</h2>


<table class="table">
    @*Noms des colonnes de la table*@

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SHOPPINGCART)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITPRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ORDER)
        </th>
        <th></th>
    </tr>

    @*BOUCLE FOREACH : Affiche les Lignes de la table*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_SHOPPINGCART)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNITPRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ORDER)
            </td>
            <td>

                @*Liens de navigation / Redirection*@

                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </td>
        </tr>
    }

</table>
<hr />


<p>
    @*Récupération du montant total calculé par le controlleur de la vue *@
    Montant total (CHF) : <b>@ViewBag.TOTAL</b>
</p>

<p>
    @*Lien pour lancer le paiement PayPal *@
    @* @Html.ActionLink("Paiement Paypal", "PaymentWithPaypal", "Home") *@

    @Html.ActionLink("Paiement Paypal", "PaymentWithPaypal", "Home", new { id = @ViewBag.PANIER}, null)
    <br />
    @*TODO*@
    @Html.ActionLink("Panier d'achat", "Index", new { Controller = "Shoppingcarts", action = "Index" })


    <br />
    @*Liens de navigation / Redirection Pour aller à la page principale du site *@
    @Html.ActionLink("Accueil", "Index", new { Controller = "Home", action = "Index" })

</p>
