@model IEnumerable<ESBClientMVC.Models.LINEITEM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOPPINGCART.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITPRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ORDER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOPPINGCART.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITPRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ORDER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
