@model IEnumerable<AppWebClient.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de tous les paniers</h1>

<table id="table" class="compact hover stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.ActionLink("Details", "Index", new { Controller = "LineItems", action = "Index", id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("Retour à l'accueil", "Index", "Home")


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: '<"wrapper"lipt>'
            });
        });
    </script>
}