@model IEnumerable<ESBClientMVC.Models.ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDEREDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHIPPEDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHIPPINGADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALPRICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDEREDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHIPPEDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHIPPINGADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTALPRICE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
