@model AppWebClient.ViewModel.PdfViewModel

@{
    ViewData["Title"] = "Getpdf";
}

@{ 
    var tauxTva = 0;
    var montantTva = Model.PriceTotal * tauxTva / 100;
    var montantTotal = montantTva + Model.PriceTotal;
}

<html>

<body>

    <h1>Détail du paiement</h1>
    <br />
    <strong>Facturé à</strong> <br />
    @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname) <br />
    @Html.DisplayFor(model => model.Address) <br />
    @Html.DisplayFor(model => model.Zip) @Html.DisplayFor(model => model.City) <br />
    <br /><br />
    <table class="table" border="1">
        <tr style="background-color:lightgray; border:solid;">
            <th>
                Date de commande
            </th>
            <th>
                Détails
            </th>
            <th>
                Prix total
            </th>
        </tr>

        <tr style="border-bottom:solid 2px">
            <td>
                @Html.DisplayFor(model => model.PaidDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Details)
            </td>
            <td>
                @Html.DisplayFor(model => model.PriceTotal) CHF
            </td>
        </tr>
        
        <tr>
            <td style="border-left:hidden;">

            </td>
            <td style="text-align:right; border-left:hidden;">
                Total HT
            </td>
            <td>
                @Html.DisplayFor(model => model.PriceTotal) CHF
            </td>
        </tr>

        <tr>
            <td style="border-left:hidden; border-top:hidden;">

            </td>
            <td style="text-align:right; border-left:hidden; border-top:hidden;"> 
                TVA @tauxTva%
            </td>
            <td style="border-top:hidden;">
                @montantTva.ToString("F2") CHF
            </td>
        </tr>

        <tr>
            <td style="border-left:hidden; border-top:hidden; border-bottom:hidden;">

            </td>
            <td style="text-align:right; border-left:hidden; border-top:hidden; border-bottom:hidden;">
                <strong>TOTAL</strong>
            </td>
            <td style="background-color:lightgray; border:solid;">
                <strong>@montantTotal.ToString("F2") CHF</strong>
            </td>
        </tr>
    </table>
    <br />
    <p>Payé online le @Html.DisplayFor(model => model.PaidDate) par carte de crédit sur le site d'ESBookshop.</p>
</body>
</html>

