@model IEnumerable<AppWebClient.Models.Book>



<h1>Résultats</h1>
<p>
    @Html.ActionLink("Mon panier d'achat", "Index", new { Controller = "UserShoppingCarts", action = "Index", id = @ViewBag.USERID })<br />
</p>
<table id="table" class="compact hover stripe">
    <thead>
        <tr>
            <th> </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* ADD TO SHOPPINGCART  *@
                    <a class="btn btn-default" asp-action="AddItem" asp-route-id="@item.Id"><i class="fas fa-shopping-cart"></i></a>
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: '<"wrapper"lipt>'
            });
        });
    </script>
}