@model IEnumerable<AppWebClient.Models.Book>

@{
    ViewData["Title"] = "Index";

}


<div class="row">
    @if ((string)@ViewData["ACCESSRIGHT"] == "ADMIN")
    {
        @* ADMIN *@
        <div class="col-md-12">
            <h1>Administration des livres</h1>
            <hr />
            @Html.ActionLink("Nouveau", "Create", "Books") |
            @Html.ActionLink("Recherche avancée", "Search", "Books")
            <br />
            <br />
        </div>
    }
    else
    {
        @* USER *@
        <div class="col-md-12">
            <h1>Catalogue de nos livres</h1>
            <hr />
            @Html.ActionLink("Ma liste des favoris", "Index", "Wishlists") |
            @Html.ActionLink("Mon panier d'achat", "Index", "UserShoppingCarts") |
            @Html.ActionLink("Recherche avancée", "Search", "Books")
            <br />
            <br />
        </div>
    }
</div>

<form method="get" asp-action="Index">

    <p>
        <input type="search" placeholder="Entrez le titre du livre..." value="@ViewData["GETBOOKDETTAILS"]" name="bookSearch" style="width:500px;" />
        <input type="submit" value="Rechercher" name="bookSearch" class="btn btn-dark" /> |
        <a asp-action="Index">Afficher tous les livres</a>
    </p>

</form>

<table id="table" class="compact hover stripe">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                Date de publication
            </th>
            <th>
                ISBN
            </th>

            <th>
                Prix
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (@item.DatePublication != null)
                    {
                        @Convert.ToDateTime(@item.DatePublication).ToString("dd.MM.yyyy")
                    }
                    else
                    {<text>/</text>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>




                @if ((string)@ViewData["ACCESSRIGHT"] == "ADMIN")
                {
                    @* ADMIN *@

                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </td>
                }
                else
                {
                    @* USER *@

            <td>
                <a class="btn btn-default" asp-action="AddItem" asp-route-id="@item.Id"><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                <a class="btn btn-default" asp-action="AddToWishlist" asp-route-id="@item.Id"><i class="far fa-star"></i></a>
                <a class="btn btn-default" asp-action="GetBooksReviews" asp-route-id="@item.Id">Noter</a>
            </td>
            <td>

            </td>
                }


            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("Page d'accueil", "Index", "Home")


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: '<"wrapper"lipt>',
                language: {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                }
            });
        });
    </script>
}
