@model IEnumerable<AppWebClient.Models.Cowriter>

@{
    ViewData["Title"] = "ManageCowriters";
}

<h1>Auteur(s)</h1>
<h5> Auteur(s) du livre : @ViewBag.BOOKTITLE | ISBN : @ViewBag.ISBN</h5>

<p>
    <a asp-action="CreateCowriter" asp-route-id="@ViewBag.BOOKID">Insérer</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Auteur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAuthorNavigation.Firstname)  @Html.DisplayFor(modelItem => item.IdAuthorNavigation.Lastname)
                </td>
                <td>
                    <a asp-action="DeleteCowriter" asp-route-idAuthor="@item.IdAuthor" asp-route-idBook="@item.IdBook">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Retour à la liste</a> 
</div>
