
@{
    ViewData["Title"] = "Charge";
}


<h1>Résultat de la transaction Stripe</h1>
<p>Vous venez d'effectuer un paiement en ligne avec Stripe. Ci-dessous les valeurs retournées par le serveur API ES-Bookshop.</p>


<h3>Clés du compte Stripe</h3>

<br />

<table class="table">


    <tr>
        <th>Type </th>
        <th>Valeur </th>
    </tr>


    <tr>
        <th>Clé publique</th>
        <td> @ViewBag.PUBLICKEY</td>
    </tr>


    <tr>
        <th>Clé privée</th>
        <td>Pas publicée, pour des raisons de sécurité.</td>
    </tr>


    @* VERIFICATION (TESTS) :  L'API Key est bien envoyée par le Serveur API, mais doit rester secrète
        <td>@ViewBag.APIKEY</td>
    *@

    <tr>
        <th>Clé API</th>
        <td>Pas publicée, pour des raisons de sécurité.</td>
    </tr>


    <tr>
        <th>Paiement en faveur de ES-Bookshop</th>
        <td>@ViewBag.MONTANT</td>
    </tr>


</table>


<div>
    <br />
    <hr />
    @Html.ActionLink("Accueil", "Index", "Home")<br />
    @Html.ActionLink("Panier", "Index", new { Controller = "UserShoppingCarts", action = "Index", id = @ViewBag.USERID })<br />
    <br />
    <hr />
</div>


