
@{
    ViewData["Title"] = "Charge";
}


<h1>Résultat de la transaction</h1>
<p>Votre paiement est valide et a bien été pris en compte par ESBookshop.</p>
<br />

<table class="table">
    
    <tr>
        <th>Détail de la commande</th>
        <td>@ViewBag.DETAILS</td>
    </tr>

    <tr>
        <th>Date et heure de la transaction</th>
        <td>@ViewBag.DATE</td>
    </tr>

    <tr>
        <th>Paiement en faveur de ES-Bookshop</th>
        <td> @((@ViewBag.MONTANT).ToString("F2")) CHF</td>
    </tr>

</table>


<div>
    <br />
    <hr />
    @Html.ActionLink("Mes commandes", "Index", "Orders")<br />
    @Html.ActionLink("Accueil", "Index", "Home")<br />
    @Html.ActionLink("Panier", "Index", new { Controller = "UserShoppingCarts", action = "Index", id = @ViewBag.USERID })<br />
</div>


