@*   comment  *@
@model AppWebClient.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

    @{
        @*   variable  *@
    var USER = ViewData["USER"] as AppWebClient.Models.AspNetUser;
    var CUSTOMER = ViewData["CUSTOMER"] as AppWebClient.Models.Customer;



@*   titre  *@
<h1>Bienvenue @USER.Username </h1>

@USER.Email;

@*  information sur le propriétaire du panier (utilisateur connecté)  *@
<div>

    <h4>Panier d'achat </h4>
    <hr />
    <dl class="row">


        @*   Date de création du panier  *@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>


        @*   ASPNET Utilisateur -  Phone *@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @if (@USER.PhoneNumber != null)
            {<text>@USER.PhoneNumber</text>}
        else
        {<text>Inconnu</text>}
        </dd>


        @*   Client Bookshop -  NOm et prénom *@
        <dt class="col-sm-4">
            Email
        </dt>
        <dd class="col-sm-8">
            @if (@USER.Email != null)
            {<text>@USER.Email</text>}
        else
        {<text>Inconnu</text>}
        </dd>


        @*   Client Bookshop -  NOm et prénom *@
        <dt class="col-sm-4">
            Nom
        </dt>
        <dd class="col-sm-8">
            @if (@CUSTOMER.Lastname != null)
            {<text>@CUSTOMER.Firstname @CUSTOMER.Lastname</text>}
        else
        {<text>Indisponible</text>}
        </dd>


        @*   Client Bookshop -  Adresse *@
        <dt class="col-sm-4">
            Adresse
        </dt>
        <dd class="col-sm-8">
            @if (@CUSTOMER.Address != null)
            {<text>@CUSTOMER.Address , @CUSTOMER.Zip @CUSTOMER.City </text>}
        else
        {<text>Indisponible</text>}
        </dd>


        @*   Client Bookshop -  Adresse de facturation*@
        <dt class="col-sm-4">
            Adresse de facturation
        </dt>
        <dd class="col-sm-8">
            @if (@CUSTOMER.BillingAddress != null)
            {<text>@CUSTOMER.BillingAddress </text>}
        else
        {<text>Indisponible</text>}
        </dd>

    </dl>
</div>





<div>

    <br />
    <hr />
    @Html.ActionLink("Retour à accueil", "Index", "Home")<br />
    @Html.ActionLink("Contenu du panier", "Index", new { Controller = "Lineitems", action = "Index", id = USER.Id })<br />
    <br />
    <hr />

</div>




}
@*   COMMENTCOMENTE
    To user the variable :
    var USER = ViewData["USER"] as AppWebClient.Models.AspNetUser;
*@
